<h2>Click the button to start building treasure.</h2>
<button
  class="btn btn-outline-success"
  routerLink="/parameters-screen">
  Roll New Treasure
</button>
<h4
  *ngIf="leaderData.length == 0"
>You currently have no hoards. Click the button to start your collection.</h4>
<div 
  id="fold"
  *ngIf="leaderData.length > 0"
  >
  <div class="card">
    <div class="card-header">
      <a class="btn" 
        data-bs-toggle="collapse"
        href="#treasureOne"
      >
        Treasure 1
      </a>
    </div>
    <div 
      class="collapse show" 
      data-bs-parent="fold"
      id="treasureOne"
    >
      <ul class="card-body ms-4">
        <li>item one</li>
        <li>item 2</li>
      </ul>
    </div>
  </div>
</div>

  
