<button
    class="btn btn-outline-success"
    routerLink="/parameters-screen">
    Roll New Treasure
</button>
<div id="fold">
  <div class="card">
    <div class="card-header">
      <a class="btn" 
        data-bs-toggle="collapse"
        href="#treasureOne"
      >
        Treasure 1
      </a>
    </div>
    <div 
      class="collapse show" 
      data-bs-parent="fold"
      id="treasureOne"
    >
      <p class="card-body">
        Treasure goes here...
      </p>
    </div>
  </div>
</div>

  
